@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import "tailwindcss";


:root {
  --primary: linear-gradient(to bottom, rgba(0, 121, 121, 0.142), rgba(111, 73, 2, 0.121));
  --secondary: #f0f4f9;
  --text: black;
}

.dark {
  /* --primary: #1b1c1d; */
  --primary: linear-gradient(to bottom, rgba(0, 123, 123, 0.142), rgba(122, 81, 0, 0.101));
  --secondary: #282a2c;
  --text:white
} 

body {
  background: var(--primary);
  min-height: 100vh;
  font-family: Outfit,Arial, Helvetica, sans-serif;
  
}